<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Wiki del Equipo</title>
    <meta name="description" content="Desarrollo Web - Universidad Javeriana - 2024-1 - Bogotá - Colombia">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- External stylesheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/html5-boilerplate.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- Custom styles -->
    <style th:inline="text">
        body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

/* Header styles */
header {
    background: linear-gradient(to right, #3498db, #2980b9); /* Gradient background */
    color: #fff; /* Text color is white */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    border-radius: 8px; /* Add rounded corners */
}

header p {
    margin: 10px 0; /* Add some margin between paragraphs */
    font-size: 18px; /* Increase the font size */
    font-family: 'Arial', sans-serif; /* Change the font family */
    letter-spacing: 1px; /* Add some letter spacing */
    line-height: 1.5; /* Improve the line height for better readability */
}
        h1, h2, h3 {
            color: #3498db;
        }

        section {
            margin: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        button {
            background-color: #2ecc71;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        footer {
            background-color: #34495e;
            color: #ecf0f1;
            padding: 10px;
            text-align: center;
        }

        @media only screen and (max-width: 480px) {
            body {
                font-size: 14px;
            }

            header {
                padding: 10px;
            }

            section {
                margin: 10px;
            }

            footer {
                padding: 5px;
            }
        }
    </style>
</head>

<body>

    <!-- Encabezado -->
    <header>
        <p>Bienvenid@ a nuestra Wiki</p>
        <p>Desarrollo web - Universidad Javeriana.</p>
    </header>

<!-- Sección de presentación del equipo -->
<section style="text-align: center;">
    <h2>Página de presentación del equipo</h2>
    <!-- Textos realizados por el equipo -->
    <!-- Nombre del equipo -->
    <h3>Grupo 7</h3>
    <p>Arrienda tu Finca: Desarrollo de frontend, backend y base de datos.</p>
</section>


<!-- Listado de integrantes -->
<h3 style="color: #3498db; font-size: 1.5em; text-align: center;">Listado de Integrantes</h3>
<ul style="list-style-type: none; padding: 0; text-align: center;">
    <li style="margin-bottom: 40px; display: flex; flex-direction: column; align-items: center;">
        <span style="background-color: #ecf0f1; padding: 20px; border-radius: 10px; text-align: center; max-width: 500px; margin: 0 auto;">
            <strong>Andrés Felipe Vaca Lago</strong><br>
            Sexto semestre (Ingeniería de sistemas)<br>
            Líder técnico/líder de pruebas<br>
            C++, SQL, Dart, Flutter, Java, Springboot
        </span>
        <img src="https://i.postimg.cc/tRr60nYQ/Whats-App-Image-2024-02-29-at-4-54-32-PM.jpg" alt="Andrés Image" style="border-radius: 50%; margin-top: 20px; width: 150px; height: 150px; object-fit: cover;">
    </li>
    <li style="margin-bottom: 40px; display: flex; flex-direction: column; align-items: center;">
        <span style="background-color: #ecf0f1; padding: 20px; border-radius: 10px; text-align: center; max-width: 500px; margin: 0 auto;">
            <strong>Felipe Londoño Campos</strong><br>
            Sexto semestre (Ingeniería de sistemas)<br>
            Líder planeación/líder de pruebas<br>
            C++, SQL, Python, Java, C, C#
        </span>
        <img src="https://i.postimg.cc/xTt0CLLg/Foto-Londono.jpg" alt="Felipe Image" style="border-radius: 50%; margin-top: 20px; width: 150px; height: 150px; object-fit: cover;">
    </li>
</ul>

</section>

<!-- Sección de descripción del proyecto -->
<section>
    <h2>Descripción del Proyecto</h2>
    <!-- Textos realizados por el profesor y complementados por el equipo -->
    <ul>
        <li th:text="${integrante1}">Para el desarrollo de esta aplicación, se deben considerar dos perfiles de usuarios principales: el “Usuario Arrendatario” y el “Usuario Arrendador”.

            El “Usuario Arrendatario” tendrá la capacidad de realizar una variedad de acciones relacionadas con la gestión de propiedades y la interacción con otros usuarios. Entre estas acciones se incluyen la creación, edición, eliminación y actualización de propiedades disponibles para arrendamiento. Además, este usuario será responsable de revisar y responder a todas las solicitudes de arrendamiento recibidas, teniendo la opción de aceptarlas o cancelarlas según corresponda. También será su responsabilidad verificar los pagos realizados por los arrendadores y proporcionar calificaciones y comentarios sobre la experiencia de arrendamiento.
            
            Por otro lado, el “Usuario Arrendador” tendrá un conjunto diferente de funcionalidades diseñadas para facilitar el proceso de búsqueda y arrendamiento de propiedades. Este usuario podrá buscar fincas disponibles filtradas por ubicación geográfica, así como solicitar el arrendamiento de una finca específica. Una vez que se apruebe la solicitud, el arrendador podrá realizar el pago correspondiente del arriendo y, posteriormente, calificar tanto la finca arrendada como al arrendatario.
            
            La implementación de esta aplicación requerirá la integración de un sistema de autenticación y autorización robusto para gestionar los diferentes roles y permisos de los usuarios. Además, se necesitarán interfaces de usuario intuitivas y funcionales que permitan a los usuarios interactuar de manera efectiva con la plataforma.
            
            El flujo de trabajo para el “Usuario Arrendatario” implicará la gestión activa de las propiedades disponibles, la revisión y respuesta a las solicitudes de arrendamiento, así como el seguimiento de los pagos realizados y la provisión de retroalimentación sobre las experiencias de arrendamiento. Por otro lado, el “Usuario Arrendador” estará enfocado en la búsqueda y arrendamiento de propiedades, así como en la gestión de los pagos y la calificación de la experiencia general.
            
            En resumen, el desarrollo de esta aplicación requerirá una planificación detallada y un enfoque centrado en el usuario para garantizar una experiencia fluida y satisfactoria para todos los usuarios involucrados. La implementación exitosa de esta plataforma requerirá una cuidadosa consideración de las necesidades y expectativas tanto de los arrendatarios como de los arrendadores.)</li>
    </ul>
    <!-- Requerimientos -->
    <h3>Requerimientos</h3>
    <h4>Funcionales</h4>
    <!-- boton funcionales* -->
    <button type="button" onclick="toggleGetRequest()">Abrir</button>
    <div id="response-container0"></div>
    
    <script th:inline="javascript">
        function toggleGetRequest() {
            var xhr = new XMLHttpRequest();
            var url = "https://gruposjaveriana.dynaco.co/grupo27/reqfuncionales";
    
            xhr.open('GET', url, true);
    
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    // Set the received HTML to the response-container
                    document.getElementById('response-container0').innerHTML = xhr.responseText;
    
                    // Navigate to the received HTML
                    window.location.href = url;
                } else {
                    console.error('Request failed with status', xhr.status);
                }
            };
    
            xhr.send();
        }
    </script>
    
    <h4>No Funcionales</h4>
    <!-- Boton No funcionales -->
    <button type="button" onclick="toggleGetRequest1()">Abrir</button>
    <div id="response-container"></div>
    
    <script th:inline="javascript">
        function toggleGetRequest1() {
            var xhr = new XMLHttpRequest();
            var url = "https://gruposjaveriana.dynaco.co/grupo27/reqnofuncionales";
    
            xhr.open('GET', url, true);
    
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    // Set the received HTML to the response-container
                    document.getElementById('response-container').innerHTML = xhr.responseText;
    
                    // Navigate to the received HTML
                    window.location.href = url;
                } else {
                    console.error('Request failed with status', xhr.status);
                }
            };
    
            xhr.send();
        }
    </script>
    <!-- Arquitectura del proyecto -->
    <h3>Arquitectura del Proyecto</h3>
    <!-- Textos realizados por el profesor y complementados por el equipo -->
    <h4>Diagrama de contexto </h4>
    <!-- Boton diagrama de contexto -->
    <button type="button" onclick="toggleGetRequest2()">Abrir</button>
    <div id="response-container1"></div>
    
    <script th:inline="javascript">
        function toggleGetRequest2() {
            var xhr = new XMLHttpRequest();
            var url = "https://gruposjaveriana.dynaco.co/grupo27/diagrama/contexto";
    
            xhr.open('GET', url, true);
    
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    // Set the received HTML to the response-container
                    document.getElementById('response-container1').innerHTML = xhr.responseText;
    
                    // Navigate to the received HTML
                    window.location.href = url;
                } else {
                    console.error('Request failed with status', xhr.status);
                }
            };
    
            xhr.send();
        }
    </script>
    <h4>Diagramas de contenedor </h4>
    <!-- Boton Diagrama de contenedor -->
    <button type="button" onclick="toggleGetRequest3()">Abrir</button>
    <div id="response-container2"></div>
    
    <script th:inline="javascript">
        function toggleGetRequest3() {
            var xhr = new XMLHttpRequest();
            var url = "https://gruposjaveriana.dynaco.co/grupo27/diagrama/contenedor";
    
            xhr.open('GET', url, true);
    
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    // Set the received HTML to the response-container
                    document.getElementById('response-container2').innerHTML = xhr.responseText;
    
                    // Navigate to the received HTML
                    window.location.href = url;
                } else {
                    console.error('Request failed with status', xhr.status);
                }
            };
    
            xhr.send();
        }
    </script>
    <h4>Diagrama de componentes </h4>
    <!-- Boton diagrama de componentes -->
    <button type="button" onclick="toggleGetRequest4()">Abrir</button>
    <div id="response-container3"></div>
    
    <script th:inline="javascript">
        function toggleGetRequest4() {
            var xhr = new XMLHttpRequest();
            var url = "https://gruposjaveriana.dynaco.co/grupo27/diagrama/componentes";
    
            xhr.open('GET', url, true);
    
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    // Set the received HTML to the response-container
                    document.getElementById('response-container3').innerHTML = xhr.responseText;
    
                    // Navigate to the received HTML
                    window.location.href = url;
                } else {
                    console.error('Request failed with status', xhr.status);
                }
            };
    
            xhr.send();
        }
    </script>        <!-- Modelos -->
        <h3>Entidad/Relación: Diccionario</h3>
         <!-- Textos realizados por el profesor y complementados por el equipo -->
    <h4>Diagrama de contexto </h4>
    <!-- boton diagrama de contexto -->
    <button type="button" onclick="toggleGetRequest5()">Abrir</button>
    <div id="response-container4"></div>
    
    <script th:inline="javascript">
        function toggleGetRequest5() {
            var xhr = new XMLHttpRequest();
            var url = "https://gruposjaveriana.dynaco.co/grupo27/diagrama/entidad";
    
            xhr.open('GET', url, true);
    
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    // Set the received HTML to the response-container
                    document.getElementById('response-container4').innerHTML = xhr.responseText;
    
                    // Navigate to the received HTML
                    window.location.href = url;
                } else {
                    console.error('Request failed with status', xhr.status);
                }
            };
    
            xhr.send();
        }
    </script>      
</section>

<!-- Sección de desarrollo -->
<section>
    <h2>Para Desarrollo</h2>
    <!-- Textos realizados por el equipo -->
    <!-- Descripciones de endpoints -->
    <h3>Descripciones de Endpoints</h3>
    <!-- Button -->
    <!-- boton diagrama de contexto -->
    <button type="button" onclick="toggleGetRequest6()">Abrir</button>
    <div id="response-container5"></div>
    
    <script th:inline="javascript">
        function toggleGetRequest6() {
            var xhr = new XMLHttpRequest();
            var url = "https://gruposjaveriana.dynaco.co/grupo27/endpoints";
    
            xhr.open('GET', url, true);
    
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    // Set the received HTML to the response-container
                    document.getElementById('response-container5').innerHTML = xhr.responseText;
    
                    // Navigate to the received HTML
                    window.location.href = url;
                } else {
                    console.error('Request failed with status', xhr.status);
                }
            };
    
            xhr.send();
        }
    </script>      
</section>
</section>

<!-- Sección de pruebas -->
<section>
    <h2>Pruebas</h2>
    <!-- Textos realizados por el equipo -->
    <!-- Casos de pruebas frontend y backend -->
    <h3>Casos de Pruebas Frontend</h3>
    <!-- Boton pruebas front -->
    <button type="button" onclick="toggleGetRequest7()">Abrir</button>
    <div id="response-container6"></div>
    
    <script th:inline="javascript">
        function toggleGetRequest7() {
            var xhr = new XMLHttpRequest();
            var url = "https://gruposjaveriana.dynaco.co/grupo27/pruebas/frontend";
    
            xhr.open('GET', url, true);
    
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    // Set the received HTML to the response-container
                    document.getElementById('response-container6').innerHTML = xhr.responseText;
    
                    // Navigate to the received HTML
                    window.location.href = url;
                } else {
                    console.error('Request failed with status', xhr.status);
                }
            };
    
            xhr.send();
        }
    </script>
    <h3>Casos de Pruebas Backend</h3>
    <!-- Boton casos de prueba backend -->
    <button type="button" onclick="toggleGetRequest8()">Abrir</button>
    <div id="response-container7"></div>
    
    <script th:inline="javascript">
        function toggleGetRequest8() {
            var xhr = new XMLHttpRequest();
            var url = "https://gruposjaveriana.dynaco.co/grupo27/pruebas/backend";
    
            xhr.open('GET', url, true);
    
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    // Set the received HTML to the response-container
                    document.getElementById('response-container7').innerHTML = xhr.responseText;
    
                    // Navigate to the received HTML
                    window.location.href = url;
                } else {
                    console.error('Request failed with status', xhr.status);
                }
            };
    
            xhr.send();
        }
    </script></section>

<!-- Sección de despliegue -->
<section>
    <h2>Despliegue</h2>
    <!-- Textos realizados por el equipo -->
    <!-- Versiones y formulario de contáctenos -->
    <h3>Versiones</h3>
    <!-- Boton despliegue -->
    <button type="button" onclick="toggleGetRequest9()">Abrir</button>
    <div id="response-container8"></div>
    
    <script th:inline="javascript">
        function toggleGetRequest9() {
            var xhr = new XMLHttpRequest();
            var url = "https://gruposjaveriana.dynaco.co/grupo27/pruebas/despliegue";
    
            xhr.open('GET', url, true);
    
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    // Set the received HTML to the response-container
                    document.getElementById('response-container8').innerHTML = xhr.responseText;
    
                    // Navigate to the received HTML
                    window.location.href = url;
                } else {
                    console.error('Request failed with status', xhr.status);
                }
            };
    
            xhr.send();
        }
    </script>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p id="successMessage"></p>
        </div>
    </div>
    
    <h3>Formulario de Contáctenos</h3>
    <!-- Formulario con Thymeleaf -->
    <form action="http://localhost:8080/grupo27/subirpregunta" method="post" id="myForm">
        <div>
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="nombres" required maxlength="100" th:maxlength="100" />
        </div>
        <div>
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" required maxlength="100" th:maxlength="100" />
        </div>
        <div>
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
        </div>
        <div>
            <label for="semestre">Semestre:</label>
            <input type="number" id="semestre" name="semestre" required min="0" max="16" />
        </div>
        <div>
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required></textarea>
        </div>
        <button type="submit">Enviar</button>
    </form>
    <script>
        document.getElementById('myForm').addEventListener('submit', function (event) {
            event.preventDefault();
    
            // Display a modal with the success message
            displaySuccessModal('Tu formulario ha sido enviado correctamente');
    
            // Get form data
            var formData = {
                nombres: document.getElementById('nombres').value,
                apellidos: document.getElementById('apellidos').value,
                correo: document.getElementById('correo').value,
                semestre: parseInt(document.getElementById('semestre').value),
                descripcion: document.getElementById('descripcion').value
            };
    
            // Replace 'your_api_endpoint' with the actual API endpoint
            var apiEndpoint = 'https://gruposjaveriana.dynaco.co/grupo27/subirpregunta'; // replace with your API endpoint
    
            // Send POST request
            fetch(apiEndpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => {
                if (response.status === 200) {
                    // Handle success for HTTP status 201 (Created)
                    console.log('Resource created successfully');
                    return response.json();
                } else {
                    // Handle other HTTP statuses
                    console.error('Request failed with status', response.status);
                    throw new Error('Request failed');
                }
            })
            .then(data => {
                // Handle success response
                console.log('Success:', data);
    
                // Reset the form
                document.getElementById('myForm').reset();
            })
            .catch(error => {
                // Handle error
                console.error('Error:', error);
                // Additional actions for error handling
            });
    
            return false; // Prevent form submission
        });
    
        function displaySuccessModal(message) {
            // Set the success message in the modal
            document.getElementById('successMessage').innerHTML = message;
    
            // Display the modal
            document.getElementById('myModal').style.display = 'block';
        }
    
        function closeModal() {
            // Close the modal
            document.getElementById('myModal').style.display = 'none';
        }
    </script>
    
    
    
</section>

<!-- Pie de página -->
<footer>
    <p>&copy; 2024 Grupo 7 - clase martes y jueves - 6:00PM - 8:00PM</p>
</footer>

<!-- Scripts y jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script th:inline="javascript">
    /* You can use Thymeleaf syntax for JavaScript variables if needed */
    window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
</script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
</body>

</html>